/* Menu Mobile */
@media (max-width: 768px) {

    /* -------- INIZIO Stile della barra di navigazione ------------*/
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #003366;
        padding: 20px;
        position: relative;
        z-index: 1000;
    }

    nav img.logo {
        width: 100px; /* Puoi ridurre il logo per adattarlo meglio alla versione mobile */
        z-index: 1001;
        margin-left: 0;
    }

    nav ul {
        display: none; 
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        position: absolute;
        top: 60px; 
        left: 0;
        background-color: #003366;
        max-height: 90vh;
        overflow-y: auto; 
        text-align: center;
    }

    nav ul.show {
        display: flex;
      }
      
    nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    nav ul li a {
        font-size: 18px; /* Più leggibile su mobile */
        padding: 10px 0;
        display: block;
        color: white;
        text-decoration: none;
        margin-left: 0;
      }
    
    nav ul li a:hover,
    nav ul li a:active{
        background-color: transparent;
        color: white;
    }

    .menu-toggle {
        display: block; /* Mostra il bottone hamburger su mobile */
        font-size: 30px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        z-index: 1001;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .menu-toggle.rotate {
        transform: rotate(90deg);
        opacity: 0.8;
    }

    nav ul.show {
        display: block; /* Mostra il menu quando è aperto */
        max-height: 500px;
    }

    /* -------- FINE Stile della barra di navigazione ------------*/

    /* -------- INIZIO Stile della Hero section ------------*/

    .hero-button {
        background-color: #003366;
        color: white;
        transition: transform 0.1s ease;
        padding: 12px 24px;
        border-radius: 5px;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        display: inline-block;
    }
    
    .hero-button:active {
        transform: scale(0.97);
        outline: none;
      }
      
    /* -------- FINE Stile della Hero section ------------*/


    /* -------- INIZIO Bottone Fisso in Basso DX ------------*/
    .desktop-text {
        display: none;
      }
      .mobile-text {
        display: inline;
      }
      
      .scrollTop {
        font-size: 20px;
        padding: 10px 15px;
        border-radius: 50%;
        background-color: #003366;
        color: white;
      }
    /* -------- FINE Bottone Fisso in Basso DX ------------*/





}

